<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    {{>header}}
  </head>

  <body>
  <div class="main-content">
    <p>This website is created by deepak narang and it use weatherstack api to fetch the data</p> 
    <img  class="portrait" src="/image/robot.png" />
    
    </div>
    {{>footer}}
  </body>
</html>