body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: rgb(131, 127, 123);
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
}

header {
  margin-top: 16px;
  margin-bottom: 16px;
}

h1 {
  font-size: 60px;
  margin-bottom: 16px;
  color: mediumpurple;
}

header a {
  color: 888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 8px;
  width: 300px;
}

button {
  cursor: pointer;
  border: 1px solid mediumpurple;
  background-color: mediumpurple;
  padding: 8px;
  color: white;
  border-radius: 10px;
}
